<div class="grid">
  <div
    class="item"
    (click)="SetProfileIndex(1)"
    [ngClass]="{ active: index == 1 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P1.png" alt="Profile 1" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(2)"
    [ngClass]="{ active: index == 2 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P2.png" alt="Profile 2" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(3)"
    [ngClass]="{ active: index == 3 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P3.png" alt="Profile 3" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(4)"
    [ngClass]="{ active: index == 4 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P4.png" alt="Profile 4" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(5)"
    [ngClass]="{ active: index == 5 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P5.png" alt="Profile 5" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(6)"
    [ngClass]="{ active: index == 6 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P6.png" alt="Profile 6" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(7)"
    [ngClass]="{ active: index == 7 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P7.png" alt="Profile 7" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(8)"
    [ngClass]="{ active: index == 8 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P8.png" alt="Profile 8" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(9)"
    [ngClass]="{ active: index == 9 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P9.png" alt="Profile 9" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(10)"
    [ngClass]="{ active: index == 10 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P10.png" alt="Profile 10" />
  </div>

  <div
    class="item"
    (click)="SetProfileIndex(11)"
    [ngClass]="{ active: index == 11 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P11.png" alt="Profile 11" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(12)"
    [ngClass]="{ active: index == 12 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P12.png" alt="Profile 12" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(13)"
    [ngClass]="{ active: index == 13 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P13.png" alt="Profile 13" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(14)"
    [ngClass]="{ active: index == 14 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P14.png" alt="Profile 14" />
  </div>
  <div
    class="item"
    (click)="SetProfileIndex(15)"
    [ngClass]="{ active: index == 15 }"
  >
    <img class="img-fluid" src="assets/img/Profile_P15.png" alt="Profile 15" />
  </div>
</div>
