<div class="area-central">
  <div class="left">
    <app-visualizador3d
      [selectedRingIndex]="this.rings.selectedRingIndex"
      [selectedRingPair]="this.rings.ringPair"
      (changeIndex)="setSelectedRing($event)"
      (changeRingPair)="setSelectedRingPair($event)"
    >
    </app-visualizador3d>
    <app-resumen-precio
      [price1]="'500€'"
      [price2]="'550€'"
      [total]="'1050€'"
    ></app-resumen-precio>
  </div>
  <div class="right">
    <app-menu-superior
      [index]="index"
      (changeIndex)="setSelectorIndex($event)"
    ></app-menu-superior>

    <div class="formarea">
      <app-form-profile
        [index]="getRingProfileIndex()"
        (changeProfileIndex)="setProfileIndex($event)"
        [hidden]="index !== 1"
      >
      </app-form-profile>
      <app-form-dimensions
        [hidden]="index !== 2"
        [rings]="rings"
        (changeForm)="updateRingsInBackend()"
      >
      </app-form-dimensions>

      <app-form-precious-metal [hidden]="index !== 3"></app-form-precious-metal>
      <app-form-grooves [hidden]="index !== 4"></app-form-grooves>
      <app-form-stone-setting [hidden]="index !== 5"></app-form-stone-setting>
      <app-form-engraving [hidden]="index !== 6"></app-form-engraving>
    </div>
  </div>
</div>
